/* COLORS */
/* BASIC CONFIG */
body {
  margin: 0;
  padding: 0;
}
/* STYLES */
.mobile-menu {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #c1272d;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bolder;
}
.mobile-menu span {
  font-weight: lighter;
}
.mobile-menu .burger {
  text-align: right;
  padding: 5% 5% 15% 5%;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
}
.mobile-menu ul {
  display: none;
  padding: 0;
  margin-top: 20%;
}
.mobile-menu ul li {
  margin-bottom: 10%;
  list-style: none;
}
.mobile-menu ul li a {
  text-decoration: none;
  color: white;
  color: #f1a1a1;
  font-weight: lighter;
  font-size: 18px;
  margin: 0% 20px;
}
.mobile-menu ul li a:active {
  font-weight: bold;
  color: white;
}
header {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #c1272d;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: inherit;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 auto;
}
header p {
  margin-left: 20px;
}
header span {
  font-weight: lighter;
}
header .burger {
  margin: 3% 0% 3% 1%;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
}
@media (max-width: 992px) {
  header .nav-bar {
    display: none;
  }
  header .header-divide1 {
    display: none;
  }
}
@media (min-width: 992px) {
  header .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header .nav-bar a {
    text-decoration: none;
    color: white;
    color: #f1a1a1;
    font-weight: lighter;
    font-size: 14px;
    margin: 0% 20px;
  }
  header .nav-bar a:hover {
    color: white;
  }
  header .header-divide1 {
    display: block;
    width: 35%;
  }
  header .burger {
    display: none;
  }
}
header .header-divide {
  height: 10px;
}
main {
  height: 83vh;
  /*.sponsors-el:first-child {
		//margin-top: 150px;
	}*/
  /*@media (max-width: 992px) {
		.contacts-info {
			display: block;
			align-items: center;
		}
	}*/
}
main .contacts-head {
  text-align: center;
  height: 10vh;
  font-size: 50px;
  padding: 70px;
  background: url(../img/contacts_bg.png) no-repeat;
  background-size: 100%;
  color: #c1272d;
  border: 2px solid #c1272d;
}
main .contacts-info {
  height: 39%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 0 auto;
  margin-top: 70px;
}
main .contacts-photo {
  margin-right: 35px;
}
main .contacts-photo > img {
  width: 15vw;
  height: 15vw;
}
main .contacts-descr {
  height: 35vh;
  width: 300px;
  font-size: 18px;
}
main .contacts-descr > a:first-child {
  font-size: 25px;
  font-weight: bold;
}
main .contacts-phones {
  height: 160px;
}
main .contacts-phones > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
main .contacts-phones > div > img {
  width: 3vw;
  height: 3vw;
  margin-right: 10px;
}
main .sponsors-info {
  display: block;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 0 auto;
  margin-top: 30px;
}
main .sponsors-el {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 100px;
}
main .sponsors-logo {
  margin-right: 30px;
}
main .sponsors-logo > img {
  width: 280px;
  height: 140px;
}
main .dashed {
  border-bottom: 2px dashed #c1272d;
}
footer {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #c1272d;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
footer p {
  margin: 10px 10px;
  color: white;
}
