/* COLORS */
/* BASIC CONFIG */
body {
  margin: 0;
  padding: 0;
}
.header-footer-positiion {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #c1272d;
  align-items: center;
}
/* STYLES */
.mobile-menu {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #c1272d;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bolder;
}
.mobile-menu span {
  font-weight: lighter;
}
.mobile-menu .burger {
  text-align: right;
  padding: 5% 5% 15% 5%;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
}
.mobile-menu ul {
  display: none;
  padding: 0;
  margin-top: 20%;
}
.mobile-menu ul li {
  margin-bottom: 10%;
  list-style: none;
}
.mobile-menu ul li a {
  text-decoration: none;
  color: #f1a1a1;
  font-weight: lighter;
  font-size: 18px;
  margin: 0% 20px;
}
.mobile-menu ul li a:active {
  font-weight: bold;
  color: white;
}
header {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #c1272d;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: inherit;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 auto;
}
header a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
  font-size: 22px;
  margin: 0% 20px;
  margin: 20px 20px;
}
header span {
  font-weight: lighter;
}
header .burger {
  margin: 3% 0% 3% 1%;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
}
@media (max-width: 992px) {
  header .nav-bar {
    display: none;
  }
  header .header-divide1 {
    display: none;
  }
}
@media (min-width: 992px) {
  header .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header .nav-bar a {
    text-decoration: none;
    color: #f1a1a1;
    font-weight: lighter;
    font-size: 14px;
    margin: 0% 20px;
  }
  header .nav-bar a:hover {
    color: white;
  }
  header .header-divide1 {
    display: block;
    width: 35%;
  }
  header .burger {
    display: none;
  }
}
header .header-divide {
  height: 10px;
}
main {
  /*height: 83vh;*/
}
footer {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #c1272d;
  align-items: center;
  text-align: left;
}
footer p {
  margin: 10px 10px;
  color: white;
}
/**/
.application_block_head {
  height: 40vw;
  min-height: 150px;
  max-height: 250px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 4px dashed #c1272d;
}
.application_block_head p {
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  color: #c1272d;
  font-size: 32px;
}
.application_block_text {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 50px;
}
.application_block_text p {
  font-size: 18px;
  margin-bottom: 0;
  hyphens: auto;
}
@media (max-width: 992px) {
  .application_block_text {
    padding-top: 0;
  }
  .application_block_text p {
    font-size: 16px;
  }
}
.application_block_button {
  width: 100%;
  height: 30vw;
  min-height: 50px;
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.application_block_button .application_button {
  height: 50px;
  width: 150px;
  background: #c1272d;
}
.application_block_button .application_button p {
  margin-top: 4px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  color: white;
  font-size: 18px;
}
