 /* COLORS */
@h-m-background: #c1272d;

/* BASIC CONFIG */

body {
	margin: 0;
	padding: 0;
}

.non-decoration-links(@clr:#f1a1a1, @fz: 18px) {
	text-decoration: none;
	color: white;
	color: @clr;
	font-weight: lighter;
	font-size: @fz;
	margin: 0% 20px;
}

.header-b-font(@fz: 20px) {
	color: white;
	text-transform: uppercase;
	font-size: @fz;
	font-weight: bolder;
}

/* STYLES */

.mobile-menu {
	display: none;
	position: absolute;
	z-index: 2;
	background-color: @h-m-background;
	width: 100%;
	height: 100vh;
	text-align: center;
	span { font-weight: lighter; }
	.burger {
		text-align: right;
		padding: 5% 5% 15% 5%;
		.header-b-font();
	}
	.header-b-font(28px);
	ul {
		display: none;
		padding: 0;
		margin-top: 20%;
		li {
		margin-bottom: 10%;
		list-style: none;
		a {
			.non-decoration-links();
			&:active {
				font-weight: bold;
				color: white;
			}
		}
		}
	}
}

header {
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: @h-m-background;
	justify-content: space-around;
	align-items: center; 
	text-align: center;
	width: inherit; 
	.header-b-font(24px);
	p { margin-left: 20px; }
	span { font-weight: lighter; }
	margin: 0 auto;
	.burger {margin: 3% 0% 3% 1%; .header-b-font;} 

	@media (max-width: 992px) {
		.nav-bar { display: none; }
		.header-divide1 { display: none; }
	}

	@media (min-width: 992px) {
		.nav-bar {
	 	display: flex;
	 	flex-direction: row;
	 	align-items: center;
			a { 
				.non-decoration-links(@clr:#f1a1a1, @fz: 14px);
				&:hover { color: white; }
			}
	 	}
	 	.header-divide1 { display: block; width: 35%; }
	 	.burger { display: none; }
	}

	.header-divide {
		height: 10px;
	}
}

main {
	height: 83vh;

	.contacts-head {
		text-align: center;
		height: 10vh;
		font-size: 50px;
		padding: 70px;
		background: url(../img/contacts_bg.png) no-repeat;
		background-size: 100%;
		color: @h-m-background;
		border: 2px solid @h-m-background;

	}

	.contacts-info {
		height: 39%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 700px;
		margin: 0 auto;
		margin-top: 70px;
	}

	.contacts-photo {
		margin-right: 35px;
	}

	.contacts-photo>img {
		width: 15vw;
		height: 15vw;
	}

	.contacts-descr {
		height: 35vh;
		width: 300px;
		font-size: 18px;	
	}

	.contacts-descr>a:first-child {
		font-size: 25px;
		font-weight: bold;
	}

	.contacts-phones {
		height: 160px;
		//border: 2px solid black;
	}

	.contacts-phones>div {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}

	.contacts-phones>div>img {
		width: 3vw;
		height: 3vw;
		margin-right: 10px;
	}

	.sponsors-info {
		//height: 90vh;
		display: block;
		justify-content: center;
		align-items: center;
		width: 700px;
		margin: 0 auto;
		margin-top: 30px;
	}

	.sponsors-el {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 700px;
		margin: 0 auto;
		margin-bottom: 100px;
	}

	/*.sponsors-el:first-child {
		//margin-top: 150px;
	}*/

	.sponsors-logo {
		margin-right: 30px;
	}

	.sponsors-logo>img {
		width: 280px;
		height: 140px;
	}

	/*@media (max-width: 992px) {
		.contacts-info {
			display: block;
			align-items: center;
		}
	}*/

	.dashed {
		border-bottom: 2px dashed @h-m-background;
	}

}

footer {
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: @h-m-background;
	justify-content: flex-start;
	align-items: center; 
	text-align: left;
	p { margin: 10px 10px; color: white;}
}

