 /* COLORS */
@h-m-background: #c1272d;


/* BASIC CONFIG */

body {
	margin: 0;
	padding: 0;
}

.non-decoration-links(@clr:#f1a1a1, @fz: 18px, @wgh:lighter) {
	text-decoration: none;
	color: @clr;
	font-weight: @wgh;
	font-size: @fz;
}

.header-b-font(@fz: 20px) {
	color: white;
	text-transform: uppercase;
	font-size: @fz;
	font-weight: bolder;
}

.header-footer-positiion {
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: @h-m-background;
	align-items: center; 
}

/* STYLES */

.mobile-menu {
	display: none;
	position: absolute;
	z-index: 2;
	background-color: @h-m-background;
	width: 100%;
	height: 100vh;
	text-align: center;
	span { font-weight: lighter; }
	.burger {
		text-align: right;
		padding: 5% 5% 15% 5%;
		.header-b-font();
	}
	.header-b-font(28px);
	ul {
		display: none;
		padding: 0;
		margin-top: 20%;
		li {
		margin-bottom: 10%;
		list-style: none;
		a {
			.non-decoration-links();
				margin: 0% 20px;
			&:active {
				font-weight: bold;
				color: white;
			}
		}
		}
	}
}

header {
	.header-footer-positiion; 
	justify-content: space-around;
	text-align: center;
	width: inherit; 
	color: @h-m-background;

	a { 
		.non-decoration-links(@clr:white, @fz: 22px, @wgh: bolder); 
		margin: 20px 20px; 
	}

	span { font-weight: lighter; width: 50px;}
	margin: 0 auto;
	.burger {margin: 3% 0% 3% 1%; color: @h-m-background;} 
	.header-divide { height: 10px; }

	@media (max-width: 992px) {
		background-color: white;
		font-size: 22px;
		font-weight: bold;
		text-transform: uppercase;
		.nav-bar { display: none; }
		.header-divide1 { display: none; }
		.home-nav-bar { display: none; }
		.home-header-title { display: flex; }
		.home-header-divide { width: 5%; }
	}

	@media (min-width: 992px) {
		.nav-bar {
	 		display: flex;
	 		flex-direction: row;
	 		align-items: center;

			a { 
				.non-decoration-links(@clr:#f1a1a1, @fz: 18px, @wgh: lighter);
				margin: 0% 20px;
				&:hover { color: white; font-weight: bold; }
			  }
	 	}
	 	.home-nav-bar {
	 		a { 
	 			.non-decoration-links(@clr:#f1a1a1, @fz: 18px, @wgh: lighter); 
	 			text-transform: uppercase;
				&:hover { color: white; font-weight: bold; }
	 			&:active { font-weight: bold; color: white; } 
	 		}
	 		margin:20px 0;
	 	}

	 	.home-header-divide { display: none; }
	 	.home-header-title { display: none; }
	 	.header-divide1 { display: block; width: 35%; }
	 	.burger { display: none; }
	}
}

main {
	.home-container {
		display: flex;
	    justify-content: center;
		min-height: 74vh;
	    padding: 40px 0px; 
		img { height: 73vh; }

		@media (min-width: 992px) {
			.student_mobile { display: none; }	
			background: url(../img/background.jpg);
			background-size: cover;
		}

		@media (max-width: 992px) {
			.student_mobile { display: block; width: 100%; height: 100%; }
			.student_desktop { display: none; }
			background: url(../img/test.jpg) no-repeat;
			background-size: 150%;
    		background-origin: content-box;
    		background-position: center;
		}		
	}
}

footer {
	.header-footer-positiion;  
	text-align: left;
	p { margin: 10px 10px; color: white;}
}

